.about-page{
    font-family: arial, sans-serif;
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 40px 20px;
    line-height: 1.5;
}

.about-header{
    text-align: center;
    margin-bottom: 40px;
}

.about-header h1{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffd700;
}

.about-header p{
    font-size: 16px;
    color: #d3d3d3;
}

.about-section{
    background-color: #2b2b2b;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.about-section h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffd700;
}

.about-section p{
    font-size: 16px;
    color: #d3d3d3;
}

.about-section ul{
    list-style: none;
    padding: 0;
}

.about-section li{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}
.about-section a{
    font-weight: bold;
    color: red;
    text-decoration: underline;
}
.about-section li strong{
    color: #ffd700;
}

.about-section i{
    margin-right: 10px;
    color: #ffd700;
}

@media (max-width: 768px) {
    .about-header h1 {
      font-size: 28px;
    }
  
    .about-header p {
      font-size: 14px;
    }
  
    .about-section h2 {
      font-size: 20px;
    }
  
    .about-section p, .about-section li {
      font-size: 14px;
    }
  }