.phone {
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
    font-size: 48px;
    line-height: 50px;
    position: fixed;
    top: 90%;
    left: 10px;
}

.phone a {
    color: white;
}
.phone:hover {
    opacity: 0.7;
}

@keyframes bounce {
    0%, 100% {
        rotate: 0deg;
    }
    50% {
        rotate: 100deg;
    }
}

.phone {
    animation: bounce 200ms 3;
    animation-delay: 10s;
}