body::-webkit-scrollbar{
    display: none;

}
.home-page section {
    padding: 40px 20px;
    text-align: center;
}
.about-preview a {
    color: #ff0000;
    text-decoration: underline;
    font-size: 24px;
}
.hero {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
    
}
h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    position: relative;
}

p {
    font-size: 36px;
    color: lightgray;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; 

}

.hero h1{
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffd700;
}

.hero p{
    font-size: 18px;
    margin-bottom: 30px;    
}

.about-preview{
    background-color: #2b2b2b;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.about-preview h2{
    font-size: 28px;
    color: #ffd700;
}

.about-preview p{
    font-size: 16px;
    margin: 20px 0;
}

img {
    top: 0px;
    height: 500px;
    width: 100%;
}

.promo {
    background: linear-gradient(90deg, #ff0000, #2b2b2b);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    max-width: 90%;
    font-family: Arial, sans-serif;
}

.promo h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.promo p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.promo strong {
    color: #FFD700;
}

.promo em {
    font-style: italic;
}

@media (max-width: 768px) {
    .hero h1{
        font-size: 28px;
    }
    .hero p, .about-preview p{
        font-size: 16px;
    }
    .promo h2{
        font-size: 22px;
    }
    .promo p{
        font-size: 14px;
    }
}
@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  .promo {
    animation: pulse 2s infinite;
  }
  
  @media (max-width: 450px) {
    img {
        height: 300px;
    }
  }