
.nav{
    display: flex;
    flex-wrap: wrap;    
}

.nav-container{
    padding: 0px 0px 0 25px;
}

.nav-container a{
    font-size: 20px;
    color: #ffffff;
}

.nav-container a:hover {
    color: #C0C0C0;
}

.nav-container ul{ 
    padding: 0;
}

.nav-item{
    font-size: 10px;
}
.nav li{
    text-align: center;
    margin-bottom: 4px;
    border: #C0C0C0 3px solid;
    background-color: black;
    color: #ffffff;
    border-radius: 15px;
    list-style: none;
} 

.nav li:hover { 
  border-radius: 15px;
  background-color: #ff0000;
  color: #ffffff;
}
  
.nav li:nth-child(1) {
    flex: 1 1 10%;
}
.nav li:nth-child(2) {
    flex: 1 1 10%;
}
.nav li:nth-child(3) {
    flex: 1 1 10%;
}
.nav li:nth-child(4) {
    flex: 1 1 70%;
}

@media (max-width: 768px) {
    .nav-container a {
        font-size: 18px;
    }
}
@media only screen and (max-width: 2000px) {    
    .nav {
        top: -130px;
    }
    .nav li {
        font-size: 20px;
        margin-right: 40px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}
@media(max-width: 1600px) {    
    .nav li {
        font-size: 20px;
        margin-right: 40px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}
@media (max-width: 1300px) {    
    .nav li {
        font-size: 30px;
        margin-right: 20px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}