
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    position: relative;
    top: -100px;
    left: -10px;
}

.nav li{
    position: relative;
    top: 0px;
    margin-bottom: 4px;
    border: #C0C0C0 10px solid;
    background-color: black;
    color: #ffffff;
    border-radius: 15px;
    font-size: 50px;
    padding: 10px 45px 10px 45px;
    margin-right: 5px;
    list-style: none;
} 

li:hover { 
  padding: 10px 45px 10px 45px;
  border-radius: 5px;
  border: #C0C0C0 10px solid;
  background-color: #ff0000;
  color: #ffffff;
}

a {
    color: #ffffff;
}   

a:hover {
    color: #C0C0C0;
}


li:nth-child(1) {
    flex: 1 1 10%;
}
li:nth-child(2) {
    flex: 1 1 10%;
}
li:nth-child(3) {
    flex: 1 1 10%;
}
li:nth-child(4) {
    flex: 1 1 70%;
}
@media only screen and (max-width: 2000px) {    
    .nav {
        top: -130px;
    }
    .nav li {
        font-size: 20px;
        margin-right: 40px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}
@media(max-width: 1600px) {    
    .nav li {
        font-size: 20px;
        margin-right: 40px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}
@media (max-width: 1300px) {    
    .nav li {
        font-size: 30px;
        margin-right: 20px;
    }
    li:nth-child(1) {
        flex: 1 1 0%;
    }
    li:nth-child(2) {
        flex: 1 1 0%;
    }
    li:nth-child(3) {
        flex: 1 1 0%;
    }
    li:nth-child(4) {
        flex: 1 1 0%;
    }
}